/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 #error {
  color: red;
 }

 #map {
    height: 600px;
    width: 80%;
    margin: auto;
}

.top {
    min-height: 40px;
    border: 1px solid transparent;
    background: linear-gradient(-45deg, rgba(0,88,148,0.9), rgba(13,120,92,0.9)) fixed;
    width: 100%;
}

header {
    color: white;
}

nav.header-item {
    margin-bottom: 0;
    width: 10px;
}

html, body{
    margin: 0;         /* 余白の削除 */
    padding: 0;        /* 余白の削除 */
    width:100%;
    height:100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #e5f9e0;
}

.container {
    width: auto;
    padding: 0;
}

.body-container {
    min-height:700px;
    height:auto !important;
    height:700px;
}

header ul {
    display: inline-block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    float: left;
    list-style: none;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 30px;
}

.nav>li {
    position: relative;
    display: block;
}

header li {
    display: list-item;
    text-align: -webkit-match-parent;
    float: left;

}

.header-link, .header-list {
	text-decoration: none;
	color: #fff;
  margin: 10px;
}

.header-page{
  float: right;
}

.wrapper{
    position: relative;/*←相対位置*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

footer {
  text-align: center;
  padding: 10px 0;
  background: linear-gradient(-45deg, rgba(0,88,148,0.9), rgba(13,120,92,0.9)) fixed;
}

.footer-text {
  color: #fff;
 }

/* トップ画面のcss */

.Top1 {
  background-image: url(Top.jpg);
}
.Top2 {
  background-image: url(Top2.jpg);
}
.Top3 {
  background-image: url(Top3.jpg);
}
.Top4 {
  background-image: url(Top4.jpg);
  background-position: top;
}
.Top5 {
  background-image: url(Top5.jpg);
}
#container{
  position: relative;
  height: 500px;
}

#container p {
  position: absolute;
  color: white;/*文字は白に*/
  font-weight: bold; /*太字に*/
  font-size: 3em;/*サイズ2倍*/
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  display        : inline-block;
  text-shadow: 0 0 15px black;
}

/*サーチボタン*/

.search-zone {
  list-style: none;
  font-style: normal;
  margin:10px;
  font-family: 'Comic Sans MS',sans-serif;
  width: 300px;
}

.search-btn {
  position: relative;
  display: inline-block;
  padding: .56em .1em;
  border: 2px solid #333;
  color: #333;
  text-decoration: none;
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  font-family: 'Comic Sans MS',sans-serif;
  width: 120px;
  height: 40px;
}

.search-btn::after {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: -1;
  content: '';
  width: 101%;
  height: 105%;
  background-color: #00fa9a;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.search-btn:hover {
  color: #fff;
  background-color: #00bfff;
}

.search-btn:hover::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.search-btn-zone {
  list-style: none;
  font-style: normal;
  margin:10px;
}

.form-group {
  width: 300px;
}

.form-controll:focus {
  border:solid 1px #EEA34A;
}
