
<div id="top-page">
	<div class='text-box'>
		<div class="text-text">体が心を変え、心が行動を変え、<br>
			行動が結果を変える <br>
			<p style="font-size: 30px;">Amy Cuddy (1972~ ）</p></div>
	</div>
</div>

<div class="top-text1">
	<div class='text-box1'>
		<div data-scroll>
			<p style="font-size: 30px;">最近、運動してますか？<br><br></p>
		</div>
		<div data-scroll>
			<p style="font-size: 30px;">待ちに待った休日。<br><br></p>
		</div>
		<div data-scroll>
			<p style="font-size: 30px;">せっかくだからどこかへ出かけようとするけれど、<br><br></p>
		</div>
		<div data-scroll>
			<p style="font-size: 30px;">結局家に引きこもったまま１日が終わる…。<br><br></p>
		</div>
		<div data-scroll>
			<p style="font-size: 30px;">そんな経験ありませんか？</p>
		</div>
	</div>
</div>

<div class="top-text2">
	<div class='text-box2'>
	<div data-scroll >
		<div data-scroll>
			<p style="font-size: 30px;">How to use？<br><br></p>
		</div>
		<div data-scroll>
			<p style="font-size: 30px;">お散歩に行った場所を投稿する。<br><br></p>
		</div>
		<div data-scroll>
			<p style="font-size: 30px;">行ってみたい場所を検索してみる。<br><br></p>
		</div>
		<div data-scroll>
			<p style="font-size: 30px;">お気に入りのユーザをフォローして、散歩コースを見てみる。<br><br></p>
		</div>
		<div data-scroll>
			<p style="font-size: 30px;">そんな感じのサイトです。</p>
		</div>
	</div>
</div>
</div>


<script src="/assets/ScrollTrigger.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function(){
  var trigger = new ScrollTrigger();
});
</script>
