
<div class="text-box">
	<div id="top-page"><p>ああああああ</p></div>
</div>

<div class="top-text1"></div>
	<div data-scroll>
		<p>いいいいい</p>
	</div>

<div data-scroll class="top-text"></div>
<p>いいいいいいい</p>

<div data-scroll class="top-text"></div>
<p>うううううううう</p>

<script src="/assets/ScrollTrigger.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function(){
  var trigger = new ScrollTrigger();
});
</script>
