<div id="top-page">
	<div class="text-box"><p>ああああああ</p></div>
</div>

<div class="top-text1"><p>いいいいい</p></div>

<div data-scroll class="top-text"><p>いいいいいいい</p></div>

<div data-scroll class="top-text"><p>うううううううう</p></div>

<script src="/assets/ScrollTrigger.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function(){
  var trigger = new ScrollTrigger();
});
</script>
