
<div id="top-page">
	<div class='text-box'>
		<div class="text-text">体が心を変え、心が行動を変え、<br>
			行動が結果を変える <br>
			<p style="font-size: 30px;">Amy Cuddy (1972~ ）</p></div>
	</div>
</div>

<div class="top-text1">
	<div data-scroll>
		<p>いいいいい</p>
	</div>
</div>
<div class="top-text2">
	<div data-scroll >
		<p>さささささ</p>
	</div>
</div>


<script src="/assets/ScrollTrigger.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function(){
  var trigger = new ScrollTrigger();
});
</script>
