<% provide(:title, 'All posts') %>
	<div class="search-zone" style="float:left">
	<%= search_form_for search  do |f| %>
	  <div class="form-group">
	    <%= f.label :title_cont, "Search" %>
	    <%= f.text_field :title_cont, class: "form-control" %>
	  </div>
	  <div class="search-btn-zone">
	  	<%= f.submit "Let's Search", class:"search-btn" %>
	  </div>
	</div>
<% end %>