<% provide(:title, 'All posts') %>
	<h1>投稿一覧</h1>

	<%= search_form_for search  do |f| %>
	  <div class="form-group">
	    <%= f.label :title_cont, "投稿検索" %>
	    <%= f.text_field :title_cont, class: "form-control" %>
	  </div>
	  <div class="actions"><%= f.submit "Search" %></div>

<% end %>