<div class='nested-fields' id="placef">
  <%#= f.inputs do %>
    <%= f.text_field :order %>
    <%= f.text_field :address, id:"address" %>
    <%= link_to_remove_association "remove task", f, id:"removeb" %>
  <%# end %>
</div>