<div class="container">
	<div class="user-index">
		<% provide(:title, 'All posts') %>
		<%= render 'posts/list', results: @results, search: @search %>
	</div>
</div>

<div class="result-post-box">
	<table class="results">
		<% if @results.any? %>
	 		<% @results.where.not(user_id: @delete_user).each do |result| %>
	 		<tr>
	 			<%= link_to post_path(result.id) do %>
		 		<td>
		            <%= attachment_image_tag result.images.last, :image, fallback: "No_image.png",size: '70x70', class:"post-image", style:"object-fit: cover;" %></td>
		   		<td><p><%= link_to result.title, post_path(result.id), class:"post-title" %></p></td>
		   	</tr>
		   	<% end %>
		 	<% end %>
		<% end %>
	</table>
</div>


<script>
	$("tr[data-link]").click(function() {
	  window.location = this.data("data-link")
	})
</script>