// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.follow-do-zone {
	list-style: none;
	font-style: normal;
	margin:10px;
}

.follow-do-btn {
  position: relative;
  display: inline-block;
  padding: .56em .1em;
  border: 2px solid #333;
  color: #333;
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  font-family: 'Comic Sans MS',sans-serif;
  width: 120px;
  height: 40px;
}

.follow-do-btn::after {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: -1;
  content: '';
  width: 101%;
  height: 105%;
  background-color: #00fa9a;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.follow-do-btn:hover {
  color: #fff;
  background-color: #00a3af;
}

.follow-do-btn:hover::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*フォロー外し*/

.unfollow-do-btn {
  position: relative;
  display: inline-block;
  padding: .56em .1em;
  border: 2px solid #333;
  color: #333;
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  font-family: 'Comic Sans MS',sans-serif;
  width: 120px;
  height: 40px;
}

.unfollow-do-btn::after {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: -1;
  content: '';
  width: 101%;
  height: 105%;
  background-color: #00fa9a;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.unfollow-do-btn:hover {
  color: #fff;
  background-color: #d9333f;
}

.unfollow-do-btn:hover::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
