// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image-to-circle {
    width:  180px;       /* ※縦横を同値に */
    height: 180px;       /* ※縦横を同値に */
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    background-position: center center;  /* 横長画像の左上を基準に表示 */
    display: inline-block;          /* 複数の画像を横に並べたい場合 */
}

.preview {
	margin: auto;
	padding: 20px;
}

.user-edit {
	float: center;
	margin: auto;
	padding: 20px;
}

.user-image {
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    cursor: pointer;
    transition-duration: 0.3s;
    padding: 5px;
}

.user-image:hover{
    opacity: 0.6;
    transition-duration: 0.3s;
}

.user-index {
    margin: auto;
    width: 70%;
}

.user-index a:hover{
    text-decoration: none;
}

.user-index table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.user-index table tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

.user-index table tr:hover{
  background-color: #d4f0fd;
}

.user-index table th,table td{
  text-align: center;
  width: 25%;
  padding: 15px 0;
}

.follow-title h3 {
  font-family: 'Comic Sans MS',sans-serif;
  width: 70%;
  margin: 10px auto;
  text-align: center;
  font-weight: bold;
}

#top-page {
  width: 100%;
  height: 600px;
  background-image: url(gardenE.jpg);
  background-size: cover;
  background-position: center; /* 背景画像を中央に配置 */
}

.text-box {
  width: 70%;
  height: 500px; /* 親の高さに揃える */
  text-align: center; /* 文字を真ん中に寄せる */
  padding-top: 230px; /* 上側の内側の余白で垂直方向の位置を調整 */
  margin: auto;
}

.text-box .text-text {
  color: white;/*文字は白に*/
  font-weight: bold; /*太字に*/
  font-size: 3em;/*サイズ2倍*/
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  display        : inline;
  text-shadow: 0 0 15px black;
}

.top-text1 {
  position: relative;
  height: 600px;
  display: block;
  width: 100%;
  background-image: url(benchE.jpg);
  background-size: cover;
  background-position: center; /* 背景画像を中央に配置 */
}

.text-box1 {
  width: 70%;
  height: 500px; /* 親の高さに揃える */
  text-align: center; /* 文字を真ん中に寄せる */
  padding-top: 110px; /* 上側の内側の余白で垂直方向の位置を調整 */
  margin: auto;
}

.top-text1 p {
  color: white;/*文字は白に*/
  font-weight: bold; /*太字に*/
  font-size: 3em;/*サイズ2倍*/
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  display        : inline;
  text-shadow: 0 0 15px black;
  width: 100%;
}

.top-text2 {
  position: relative;
  height: 600px;
  display: block;
  width: 100%;
  background-image: url(bridgeE.jpg);
  background-size: cover;
  background-position: center; /* 背景画像を中央に配置 */
}

.text-box2 {
  width: 70%;
  height: 500px; /* 親の高さに揃える */
  text-align: center; /* 文字を真ん中に寄せる */
  padding-top: 110px; /* 上側の内側の余白で垂直方向の位置を調整 */
  margin: auto;
}

.top-text2 p {
  color: white;/*文字は白に*/
  font-weight: bold; /*太字に*/
  font-size: 3em;/*サイズ2倍*/
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  display        : inline;
  text-shadow: 0 0 15px black;
  width: 100%;
}

div .top-title {
  position: relative;
  display: block;
  height: 500px;
}

.top-text p {
  text-align: center;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  display        : inline-block;
  text-shadow: 0 0 15px black;
  color: white;/*文字は白に*/
  font-weight: bold; /*太字に*/
  font-size: 2em;/*サイズ2倍*/
}

.invisible {
  transition: all 0.5s ease;
  opacity: 0.0;
  margin-left: 100px;
}

.visible {
  transition: all 0.5s ease;
  opacity: 1.0;
  margin-left: 0;
}

.follow-zone {
  list-style: none;
  font-style: normal;
  margin:10px;
}

.follow-btn {
  position: relative;
  display: inline-block;
  padding: .56em .1em;
  border: 2px solid #333;
  color: #333;
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  font-family: 'Comic Sans MS',sans-serif;
  width: 120px;
  height: 40px;
}

.follow-btn::after {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: -1;
  content: '';
  width: 101%;
  height: 105%;
  background-color: #00fa9a;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.follow-btn:hover {
  color: #fff;
  background-color: #38b48b;
}

.follow-btn:hover::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*ユーザ編集*/

.user-action-zone {
  list-style: none;
  font-style: normal;
  margin:10px;
  text-align: center;
  vertical-align: middle;
}

.user-edit-btn {
  position: relative;
  display: inline-block;
  padding: .56em .1em;
  border: 2px solid #333;
  color: #333;
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  font-family: 'Comic Sans MS',sans-serif;
  width: 120px;
  height: 40px;
}

.user-edit-btn::after {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: -1;
  content: '';
  width: 101%;
  height: 105%;
  background-color: #00fa9a;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.user-edit-btn:hover {
  color: #fff;
  background-color: #00a3af;
}

.user-edit-btn:hover::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.user-edit-box {
  width: 50%;
  margin: auto;
}

.user-edit-box textarea {
  width: 100%;
  height: 100px;
}

.user-edit-box h4 {
  border-bottom: 1px solid #006e54;
  border-left: 10px solid #006e54;
  padding: 7px;
}

/*退会*/

.quit-btn {
  position: relative;
  display: inline-block;
  padding: .56em .1em;
  border: 2px solid #333;
  color: #333;
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  font-family: 'Comic Sans MS',sans-serif;
  width: 120px;
  height: 40px;
}

.quit-btn::after {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: -1;
  content: '';
  width: 101%;
  height: 105%;
  background-color: #00fa9a;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.quit-btn:hover {
  color: #fff;
  background-color: #d9333f;
}

.quit-btn:hover::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*投稿編集*/

.post-action-zone {
  list-style: none;
  font-style: normal;
  margin:10px;
}

.post-edit-btn {
  position: relative;
  display: inline-block;
  padding: .56em .1em;
  border: 2px solid #333;
  color: #333;
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  font-family: 'Comic Sans MS',sans-serif;
  width: 120px;
  height: 40px;
}

.post-edit-btn::after {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: -1;
  content: '';
  width: 101%;
  height: 105%;
  background-color: #00fa9a;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.post-edit-btn:hover {
  color: #fff;
  background-color: #54917f;
}

.post-edit-btn:hover::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*投稿削除*/

.post-delete-btn {
  position: relative;
  display: inline-block;
  padding: .56em .1em;
  border: 2px solid #333;
  color: #333;
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  font-family: 'Comic Sans MS',sans-serif;
  width: 120px;
  height: 40px;
}

.post-delete-btn::after {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: -1;
  content: '';
  width: 101%;
  height: 105%;
  background-color: #00fa9a;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.post-delete-btn:hover {
  color: #fff;
  background-color: #ea5550;
}

.post-delete-btn:hover::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/*ログイン後トップ*/

.user-box {
  float: left;
  margin:2em 1em;
  position: relative;
  padding: 0.5em 1.5em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}

.user-box:before, .user-box:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}

.user-box:before {left: 10px;}
.user-box:after {right: 10px;}
.user-box p {
    padding-top:  4px;
    text-align: center;
    margin: 0;
}

.user-image {
  margin: 0 auto;
}

.post-list-nav {
    display: table;
    width: 100%;
    background: #FFF;
}

.post-nav-item {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.post-nav-item a {
    display: block;
    padding: 15px 0;
    color: #666;
    text-decoration: none;
    font-size: 14px;
}

.your-list-nav {
    display: table;
    width: 100%;
    background: #FFF;
}

.your-nav-item {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.your-nav-item a {
    display: block;
    margin: 5px;
    color: #666;
    text-decoration: none;
    font-size: 14px;
}

.following-post-title {
  font-family: 'Comic Sans MS',sans-serif;
  font-size: 25px;
}

.ranking-box {
  padding: 10px;
  margin: 28px 14px 28px 14px;
  text-decoration: none;
}

.ranking-box a:hover {
  text-decoration: none;
}

.ranking-box li {
  text-decoration: none;
  list-style-type: none;
  padding: 10px;
}

.ranking-post {
  padding-left: 15px;
}
